.photo-pages {
    text-align: center;
    padding-top: 3em;
    width: 100%;
    height: 100%;
    padding-bottom: 6em;
}
.background-dark-beige {
    background-color: #BFA895;
}
.white-text {
    color: white;
}
body {
    background-color: #ebe6e0;
}
